{{#each restaurantsInPage}}
  {{> restaurant-review}}
{{/each}}

<ul class="pagination">
  {{#if previousPage}}
  {{!-- PREVIOUS --}}
  <li class="page-item">
    <a href="?page={{previousPage}}">{{previousPage}}</a>
  </li>
  {{/if}}
  {{!-- CURRENT --}}
  <li class="page-item active">
    <a>{{page}}</a>
  </li>
  {{#if nextPage}}
  {{!-- NEXT --}}
  <li class="page-item">
    <a href="?page={{nextPage}}">{{nextPage}}</a>
  </li>
  {{/if}}
</ul>