<h3>All restaurants count : {{allRestaurants.length}}</h3>

{{#each allRestaurants}}
    <form class="columns review-editor" method="post" action="delete-reviews">
        <input type="hidden" name="_csrf" value="{{@root.csrfToken}}">
        <label for="id" class="form-label col-1" style="background-color: white; text-align:center" name="id">
            {{this.id}}
            <input type="hidden" name="id" value="{{this.id}}">
        </label>
        <label for="name" class="form-input col-3">{{this.name}}</label>
        <label for="cityId" class="form-input col-2">{{this.cityId}}</label>
        <label for="address" class="form-input col-3">{{this.address}}</label>
        <label for="score" class="form-input col-3">{{this.score}}</label>
        <label for="review" class="form-input col-12">{{this.review}}</label>   
        <label for="imageLink" class="form-input col-9">{{this.imageLink}}</label>
        <input type="submit" class="btn btn-error col-3" value="Delete">
    </form>
{{/each}}