<h3>All Admins count : {{allAdmins.length}}</h3>

{{#each allAdmins}}
    <form class="columns review-editor" method="post" action="delete-admins">
        <input type="hidden" name="_csrf" value="{{@root.csrfToken}}">
        <label for="id" class="form-label col-1" style="background-color: white; text-align:center" name="id">
            {{this.id}}
            <input type="hidden" name="id" value="{{this.id}}">
        </label>
        <label for="email" class="form-input col-8">{{this.email}}</label>
        <label for="loginAttempts" class="form-input col-3">{{this.loginAttempts}}</label>
        <label for="password" class="form-input col-9">{{this.password}}</label>        
        <input type="submit" class="btn btn-error col-3" value="Delete">
    </form>
{{/each}}