<h3>All restaurants count : {{allRestaurants.length}}</h3>

{{#each allRestaurants}}
    <form class="columns review-editor" method="post" action="delete-review">
        <label class="form-label col-1" style="background-color: white; text-align:center" name="Id">
            {{this.Id}}
            <input type="hidden" name="Id" value="{{this.Id}}">
        </label>
        <input class="form-input col-4" type="text" name="Name" placeholder="Name" pattern="[A-Za-z0-9.\s!%&/?]{2,}" value="{{this.Name}}">
        <input class="form-input col-4" type="text" name="Location" placeholder="Location" value="{{this.Location}}">
        <select name="Score" class="form-select form-lg select-sm col-3">
            <option value="{{this.Score}}">{{this.Score}}</option>
            <option value="10">10</option> 
            <option value="9">9</option>
            <option value="8">8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select>
        <input class="form-input col-12" type="text" name="Review" placeholder="Review" value="{{this.Review}}">
        <input class="form-input col-9" type="text" name="ImageLink" placeholder="ImageLink" value="{{this.ImageLink}}">
        <input type="submit" class="btn btn-error col-3" value="Delete">
    </form>
{{/each}}