<h3>All restaurants count : {{allRestaurants.length}}</h3>



{{#each allRestaurants}}
    <form class="columns review-editor" method="post" action="update-review">
        <label class="form-label col-1" style="background-color: white; text-align:center" name="id">
            {{this.id}}
            <input type="hidden" name="id" value="{{this.id}}">
        </label>
        <input class="form-input col-3" type="text" name="name" placeholder="Name" pattern="[A-Za-z0-9öäåÖÄÅ.\s!%&/?]{2,}" value="{{this.name}}" required="required">

        <input type="text" placeholder="City" name="city" pattern="[A-Za-z0-9ÄÖÅäöå.\s!%&/?]{2,}" required="required" value="{{this.city}}" class="form-input col-2">
        <input type="text" placeholder="Address" name="address" pattern="[A-Za-z0-9ÄÖÅäöå.\s!%&/?]{2,}" required="required" value="{{this.address}}" class="form-input col-3">

        <select name="score" class="form-select form-lg select-sm col-3">
            <option value="{{this.score}}">{{this.score}}</option>
            <option value="10">10</option> 
            <option value="9">9</option>
            <option value="8">8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select>

        <input class="form-input col-12" type="text" name="review" placeholder="Review" required="required" value="{{this.review}}">
        <input class="form-input col-9" type="text" name="imageLink" placeholder="ImageLink" value="{{this.imageLink}}">
        <input type="submit" class="btn btn-success col-3" value="Update">
    </form>
{{/each}}