{{#each allAdmins}}
    <form class="columns review-editor" method="post" action="update-admin">
        <input type="hidden" name="_csrf" value="{{@root.csrfToken}}">
        <label for="id" class="form-label col-1" style="background-color: white; text-align:center" name="id">
            {{this.id}}
            <input type="hidden" name="id" value="{{this.id}}">
        </label>
        <input class="form-input col-8" type="text" name="email" placeholder="Email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,14}$" value="{{this.email}}" required="required">
        <select name="loginAttempts" class="form-select form-lg select-sm col-3">
            <option value="{{this.loginAttempts}}">{{this.loginAttempts}}</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
            <option value="0">0</option>
        </select>
        <input type="text" class="form-input col-9" name="password" placeholder="Password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{6,}" value="{{this.password}}" required="required">
        <input type="submit" class="btn btn-success col-3" value="Update" name="update">
    </form>
{{/each}}

